body,
html {
  height: 100vh;
  width: 100vw;
  margin: 0;
  color: black;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: barlow-regular;
  src: url("./assets/Barlow-Regular.ttf");
}

@font-face {
  font-family: bebasneue-regular;
  src: url("./assets/BebasNeue-Regular.ttf");
}

#content {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)
    ),
    url("./assets/MainBackground.png");
  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#nav {
  display: flex;
  column-gap: 3rem;
  cursor: pointer;
  margin: 2rem 0;
  font-family: bebasneue-regular, sans-serif;
  font-size: 2.5rem;
  color: #9f7640;
  align-items: center;
  justify-content: center;
}

#logo {
  background: url("./assets/causwells.png");
  width: 392px;
  height: 153px;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  margin: 0;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: barlow-regular, sans-serif;
}

.title {
  font-size: 4rem;
}

.sub-title {
  font-size: 3rem;
}

.contact-info {
  width: 100%;
}

.meal-title {
  font-weight: bold;
}