body,
html {
  height: 100vh;
  width: 100vw;
  margin: 0;
  color: black;
  font-family: barlow-regular, sans-serif;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: barlow-regular;
  src: url("./assets/Barlow-Regular.ttf");
}

@font-face {
  font-family: bebasneue-regular;
  src: url("./assets/BebasNeue-Regular.ttf");
}

#content {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)
    ),
    url("./assets/MainBackground.png");
  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#nav {
  display: flex;
  column-gap: 3rem;
  cursor: pointer;
  margin: 2rem 0;
  font-family: bebasneue-regular, sans-serif;
  font-size: 2.5rem;
  color: #9f7640;
  align-items: center;
  justify-content: center;
}

#logo {
  background: url("./assets/causwells.png");
  width: 392px;
  height: 153px;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  margin-bottom: 10px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.about .menu .contact {
  font-family: barlow-regular, sans-serif;
}
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

#restaurant-name {
  font-weight: bold;
}

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hours-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
}

.meal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.meal-title {
  font-weight: bold;
  justify-content: center;
}

img {
  height: 200px;
  width: 300px;
}

.menu-container {
  display: grid;
  grid: 1fr 1fr / 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.menu-container > .name {
  font-weight: bold;
}
